*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
a:link
a:hover
a:active{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

html,body{
    font-size: 1rem;
    font-family: $font-principal;  
    color: $color-text-normal;
}

body{
    overflow-y: scroll;
    position: unset !important;
}

hr{
    border: 1px solid #f0f0f0;
    margin: 2rem 1.5rem;

    @media (min-width: $breakpoint-widescreen) {
        margin: 2rem auto;
        width: 950px ;
    }

    @media (min-width: $breakpoint-extrawidescreen) {
        width: 1150px ;
    }
}