@each $item, $color in $theme-colors {
    .text-#{$item} {
      color: $color;
    }
}

@each $item, $colors in $theme-social {
  $fontcolor: nth($colors, 1);
  .text-#{$item} {
    color: $fontcolor;
  }
}