.container{
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;

    @media (min-width: $breakpoint-smallscreen) {
        padding: 2rem;
    }

    @media (min-width: $breakpoint-widescreen) {
        width: 950px ;
        padding: 0rem;
    }

    @media (min-width: $breakpoint-extrawidescreen) {
        width: 1150px ;
        padding: 0rem;
    }
}

.layout-page{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

}



.layout-header{
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
}

.layout-main{
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-grow: 1;

    @media (min-width: $breakpoint-widescreen) {
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
}

.layout-footer{
    border-top: 4px solid rgb(248, 248, 248);
    padding: 3rem 0 4rem 0;
    bottom: 0;
    background-color: $color-bg-ligth;
}
